[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
parliament = "*"
checkov = "*"
bandit = "*"

[packages]
boto3 = "==1.11.10"

[requires]
python_version = "3.7"
